/* #mechTonnage {
  padding: 3px;
}

select {
  padding: 8px;
  text-align: center;
}

.mech-data {
  border: 1px solid darkorange;
  padding: 5px 0px;
  padding-left: 10px;
}

.form-element {
  border: 1px solid darkorange;
  padding: 10px;
}

.remaining-tons {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #333333;
  color: yellow;
  font-weight: bold;
  font-size: large;
  padding: 10px;
  display: flex;
}

#critical-slots {
  padding-left: 30px;
  margin-left: 30px;
}
#tons-remaining {
  color: orange;
}
#critical-remaining {
  color: orange;
}

.remaining-tons .overweight {
  color: red;
}

.substract-tons {
  text-align: right;
  color: orange;
  margin-left: auto;
  padding-left: 10px;
}

div {
  margin-top: 10px;
}

.slider {
  appearance: none;
  outline: none;
  height: 15px;
  background: #d3d3d3;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 17px;
  height: 19px;
  background: #ffc404;
  cursor: pointer;
  border: 1px solid black;
}

tr {
  margin: 2px;
  border: white solid 1px;
}

.tableEntry {
  margin: 5px;
  padding: 5px;
  text-align: center;
}
.tableRow:hover {
  color: orange;
} */
